{%extends 'testApp/base.html' %}
{%block title_block %}
{{post.title}}
{%endblock%}
{% block content_block %}
  <h1>SOHAIB'S BLOG</h1>
  {%for post in post_list%}
    <a href="{{post.get_absolute_url}}"><h2>{{post.title}}</h2></a>
    <p id='date'>Publish on {{post.publish}} by {{post.author|title}}</p>
    {% if tag %}
      <h2>Post tagged with {{tag.name}}</h2>
    {%endif%}
    Tages:
    {% for tag in post.tags.all %}
    <a href="{%url 'post_list_by_tag_name' tag.slug %}" class="btn btn-success">{{tag.name}}</a>
    {%endfor%}<br><br>
    {{post.body|truncatewords:30}}
  {%endfor%}<br><br>
  {%include 'testApp/paginations.html' with page=post_list %}
{%endblock%}
